@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300&family=Kalam:wght@700&family=Kanit:wght@300&family=Mooli&family=Rubik:wght@300&family=Varela+Round&family=Work+Sans:wght@300&display=swap');

body {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-family: 'Kalam', cursive;
    font-family: 'Kanit', sans-serif;
    font-family: 'Mooli', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Varela Round', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.navbar {
    background-color: #f57b39;
}

.navbar-brand {
    color: white;
}

.offcanvas{
    background-color: #f57b39;
    color: white;
}

.nav-link {
    color: white;
}